@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

main{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

body{
background-color: hsl(0, 0%, 95%);
}

/* Responsive layout - makes a one column layout instead of a three-column layout */
@media (max-width: 375px) {
    main {
        flex-direction: column;
    }
}

.card-1{
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
    margin-bottom: 20px;
}

.card-2{
    background-color:hsl(184, 100%, 22%);
    padding: 40px;
    margin-bottom: 20px;
}

.card-3{
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
    margin-bottom: 20px;
    
}

p{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 50px;
    line-height: 23px;
    font-weight: 400px;
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}



.card-1 > button{
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px;
    border-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    cursor: pointer;

}

.card-1>button:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);;
  
}

.card-2>button {
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px;
    border-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    cursor: pointer;
}

.card-2>button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    ;

}

.card-3>button {
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px;
    border-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    cursor: pointer;
    
}

.card-3>button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    ;

}

button{
    padding: 15px;
    font-size: 15px;
    margin-bottom: 30px;
}
